/* credit to W3school*/
.container {
    position: relative;
    width: auto;
    background-color: black;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: midnightblue;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }
/* start page instruction, attempting animated text
  * {
    box-sizing: border-box;
  }

  blockquote {
    font-size: 3rem;
  }
  blockquote q {
    font-family: Georgia, serif;
    font-style: italic;
    letter-spacing: .1rem;
  }
  blockquote q span { 
    will-change: opacity, filter;
    opacity: 0;
    filter: blur(0px);
  }
  q {
    quotes: "“" "”" "‘" "’";
  }
  q:before {
      content: open-quote;
      margin-right: .8rem;
  }
  q:after {
    content: close-quote;
  }
  q:before, q:after {
    color: #ccc;
    font-size: 4rem;
  }